{% extends 'base.html.twig' %}

{% block body %}
<h2 class="index__title">Jambons</h2>

<div class="ham">
  {% for ham in hams %}

<div class="index__ham">
  <a class="index__ham__title" href="{{ path('ham_show', {slug: ham.slug}) }}">
  {{ham.title|raw}}
  </a>
  <p class="index__ham__content">{{ ham.content|raw }}</p>
  <p>{{ ham.price|raw }} euros</p>
    {% if is_granted('ROLE_ADMIN') %}
      <div class="index__ham__buttons">
      <form class="index__ham__delete" action="{{ path('ham_delete', {'id': ham.id}) }}" method="post">
        <input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ ham.id) }}">
        <input type="submit" value='Delete'>
      </form>

      <a class="index__ham__edit" href="{{ path('ham_edit', {'slug': ham.slug}) }}">Edit</a>
      </div>
  
  {% endif %}
</div>

  
{% else %}
  <p>Pas de jambon à l'horizon</p>
{% endfor %}
</div>

{% if is_granted('ROLE_USER') %}
<h2 class="add__ham__title">Ajoutez votre jambon perso !</h2>
<div class="add__ham__form">
  {{form(form)  }}
</div>
{% else %}
  <div>
  <p>Crée toi un compte pour créer ton jambon !</p>
  <a href="{{ path('app_register') }}">
  Register
</a>
</div>
  {% endif %}
{% endblock %}
